.row-booking {
  display: flex;
  margin: 50px;
}
.column-booking {
  flex: 50%;
}
.border-right {
  border-right: 1px solid black;
}

.column-booking p {
  margin-bottom: 10px;
}

.card-booking-left {
  display:flex;
  flex-direction: column;
  margin-right: 20px;
  .img{size: 100%;}
}

.card-booking-right {
  display:flex;
  flex-direction: column;
  margin-left: 20px;
  .img{size: 100%;}
}

.card-booking {
  height: 130px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 30px
}

.card-booking-img {
  height: 100%;
  width: 120px;
  object-fit: contain;
  background-position: center;
  justify-content: center;
  align-items: center;
}

.card-booking-right-infos {
  padding-left: 60px;
  align-items: center;
  justify-content: center;
}

.card-booking-left-infos {
  margin-left: 60px;
  align-items: center;
  justify-content: center;
}

.card-booking h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  align-text: center;

}

.card-booking p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  align-text: center;

}

#status-pending {
  background-color: orange;
  text-align: center;
  justify-content: center;

}
#status-approved {
  background-color: #37FF8B;
  text-align: center;

}

#status-declined {
  background-color: red;
  text-align: center;

}

.accept-decline-booking{
  padding-left: 70px;

}

.fa-check-circle {
  color: #37FF8B;
  font-size: 25px;
}

.fa-times-circle {
  color: red;
  font-size: 25px;
}


.avatar-left-card-booking p {
  text-align: center;
  font-size: 15px
}

.avatar-right-card-booking p {
  text-align: center;
  font-size: 15px
}
