.category {
  background-size: cover;
  background-position: center;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #273439;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(39, 52, 57,0.3) ;
}

.category-tools {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 40px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.product-tools {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 40px;
  margin-top: 50px;
}

.product-cards {
  display:flex;
  flex-direction: column;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 2px;
  position: relative;
  transition: all 0.3s;
  .img{size: 100%;}
}

.product-cards:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  .img{size: 105%;}
}


.product-infos img {
  object-fit: contain;
  background-position: center;
  height: 200px;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0 0 ;
  box-shadow: 0 0 5px 0  rgba(0,0,0,0.2);
}

.product-picture{
  margin: 0px;
}

.product-tools h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
  margin-top: 10px;
}

.product-tools p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.product-tools h1 {
  font-size: 12px;
  font-weight: bold;
  margin: 2px 0 0 0;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .product-tools {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .product-tools {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .product-tools {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .product-tools {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .product-tools {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.line{
width: 1250px;
border-bottom: 1px solid black;
margin: auto;
text-align: center;
}


.link {
  color: black;
  &:hover {
    color: black;
    text-decoration: none;
    background-color:#37FF8B ;
  }
}
