.btn-flat {
  color: #37FF8B;
  border: solid 2px #37FF8B;
  padding: 8px 24px;
  border-radius: 4px;
  background: white;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #37FF8B;
  color: white;
}

.btn-green {
  color: white;
  border: solid 2px #37FF8B;
  padding: 8px 30px;
  border-radius: 4px;
  background: #37FF8B;
  transition: background 0.3s ease;
  font-weight: bold;
  font-size: 20px;
}

.btn-green:hover {
  background: white;
  color: #37FF8B;
}

.btn-flat-search {
  color: #011627;
  padding: 8px 24px;
  border-radius: 4px;
  border: solid 2px #011627;
}

.btn-flat-search:hover {
  color: white;
  background:#011627;
  padding: 8px 24px;
  border-radius: 4px;
}

.active-item {
  border-bottom: solid 3px #37FF8B;
  .link-nav{
    color: black;
  }
}

.link-nav {
  padding: 0 10px;
  color: grey;
  transition: 0.3s;
  &:hover {
    text-decoration: none;
    color: black;
  }
}


.btn-delete {
  color: white;
  border: solid 2px #e44834;
  padding:  8px 24px;
  border-radius: 4px;
  background: #e44834;
  transition: background 0.3s ease;

}

.btn-delete:hover {
  background: white;
  color: #e44834;
}



.btn-edit {
  color: white;
  border: solid 2px #011627;
  padding:  8px 24px;
  border-radius: 4px;
  background: #011627;
  transition: background 0.3s ease;
}

.btn-edit:hover {
  background: white;
  color: #011627;
}