.btn-flat {
  color: #37FF8B;
  border: solid 2px #37FF8B;
  padding: 8px 24px;
  border-radius: 4px;
  background: white;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #37FF8B;
  color: white;
}

.btn-flat-search {
  color: #011627;
  padding: 8px 24px;
  border-radius: 4px;
  border: solid 2px #011627;
}

.btn-flat-search:hover {
  color: white;
  background:#011627;
  padding: 8px 24px;
  border-radius: 4px;
}
