.card-owner {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    background: white;
    padding: 8px 16px;
    border: 1px solid rgb(235,235,235);
  }
  
  .card-owner .card-owner-content {
    flex-grow: 1;
    padding: 0 24px;
  }
  
  .card-owner p {
    margin: 0;
    line-height: 1.4;
  }
  
  .card-owner small {
    color: #999999;
    font-weight: bold;
  }

  